{{define "title"}}Admin{{end}}
{{define "main"}}

<body>
  <form enctype="multipart/form-data" action="/api/upload" method="post">
    <div class="card bg-base-100 w-96 shadow-x1">
      <div class="card-body items-center">
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

        <div class="justify-start">
          <h2 class="card-title">Choose a file:</h2>
        </div>

        <input type="file" name="myFile" required class="file-input file-input-bordered w-full max-w-xs" />

        <div class="btn card-actions content-center place-content-start w-full max-w-xs">
          <input type="checkbox" id="chunk" name="chunk" value="true">
          <label for="chunk">Enable Chunking</label>
          <span class="badge badge-info justify-end">Optional</span>
        </div>
        <div class="card-actions justify-end">
          <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
      </div>
    </div>
  </form>
</body>
{{end}}