{{define "title"}}Map{{end}}

{{define "main"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{template "title" .}}</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js" defer></script>
    <script src="/static/js/map.js" defer></script>
  <style>
    #map { height: 500px; }
  </style>
</head>
<body>
  <div id="map"></div>
  <div class="card">
    <h5 class="card-header">Map with geojson</h5>
    <div class="card-body">
      <h5 class="card-title">JSON</h5>
      <pre class="card-text mb-3 overflow-auto" style="height: auto;">{{.GeoData}}</pre>
      <a href="data:application/json,{{.GeoData | urlquery}}" download="data.json" class="btn btn-primary">Download GeoJSON</a>
    </div>
  </div>
</body>
</html>
{{end}}
