{{define "base"}}
<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="UTF-8">
  <title>{{template "title" .}} - LLM Chat</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link href="/static/css/output.css" rel="stylesheet">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  {{block "head" .}}{{end}}
</head>

<body class="h-48 max-h-full md:max-h-screen">
  {{template "nav" .}}
  <main>
    {{template "main" .}}
  </main>
</body>

</html>
{{end}}