{{define "base"}}
<!DOCTYPE html>
<html lang="en" data-theme="cyberpunk">
<head>
  <meta charset="UTF-8">
  <title>{{template "title" .}} - LLM Chat</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link href="/static/css/output.css" rel="stylesheet">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  {{block "head" .}}{{end}}
</head>
<body class="min-h-screen flex flex-col">
  {{template "nav" .}}
  <main class="flex-grow flex items-center justify-center">
    {{template "main" .}}
  </main>
  <footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto text-center">
      <span>KdG in {{.CurrentYear}}</span>
    </div>
  </footer>
</body>
</html>
{{end}}
