{{define "chat"}}
<div class="min-h-screen flex flex-col relative" 
  x-data="chatApp()" 
  x-init="init()" 
  :class="{'max-w-3xl mx-auto': !hasMap || !mapVisible, 'max-w-6xl mx-auto grid grid-cols-3': hasMap && mapVisible}">
  
  <!-- Chat messages container -->
  <div class="flex flex-col flex-1" :class="{'col-span-2': hasMap && mapVisible}">
    {{template "chat_messages" .}}
    {{template "chat_input" .}}
  </div>
  
  <!-- Scroll to bottom button -->
  <button @click="scrollToBottom()" x-show="showScrollButton"
    class="fixed bottom-24 right-4 bg-blue-600 text-white p-2 rounded-full hover:bg-blue-700 shadow-lg z-20"
    aria-label="Scroll to bottom">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel">
      <path d="M12 5v14M5 12l7 7 7-7" />
    </svg>
  </button>

  {{template "map_panel" .}}
</div>

{{template "scripts" .}}
{{template "styles" .}}
{{end}}