{{define "nav"}}
<nav>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <!-- Logo -->
      <div class="flex-shrink-0">
        <img href="/" class="size-20 w-fit" src="/static/img/de-vlaamse-waterweg-klant-synguard-3203192117.png"
          alt="vlaamse-waterweg-logo">
      </div>
    </div>
    <div class="flex-none">
      <!-- Navigation Links -->
      <ul class="menu menu-horizontal px-1">
        <li>
          <a href="/">Chat</a>
        </li>
        <li>
          <a href="/map">Map</a>
        </li>
        <li><a href="/panel">Panel</a>
        </li>
      </ul>
    </div>


    <div class="navbar-end mx-auto">
      <div>
        {{if .IsAuthenticated}}
        <form action='/user/logout' method='POST' class="btn btn-secondary">
          <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
          <button>Logout</button>
        </form>
        {{else}}
        <a href='/user/signup' class="btn btn-secondary">Signup</a>
        <a href='/user/login' class="btn btn-secondary">Login</a>
        {{end}}
      </div>
    </div>

  </div>
</nav>
{{end}}